{% assign timeline = include.timeline %}
<div class="row">
						<div class="col-md-8 mx-md-auto text-center">
							<h2 class="text-color-dark font-weight-normal text-7 mb-0 pt-2">{{ translation.our }} <strong class="font-weight-extra-bold">{{ translation.history }}</strong></h2>
							<p>{{ translation.history-head }}</p>

							<section class="timeline" id="timeline">
								<div class="timeline-body">
			                        {% for the_element in timeline.elements %}
			                          {% include about-us-history-element.html element=the_element %}
			                        {% endfor %}
						      	</div>
							</section>
                            
						</div>
					</div>