<section class="section bg-color-grey-scale-1 border-0 pt-0 pt-md-5 m-0">
					<div class="container">
						<div class="row align-items-center justify-content-center pb-4 pb-lg-0">
							<div class="col-lg-6 order-2 order-lg-1 pr-5 pt-4 pt-lg-0 mt-md-5 mt-lg-0 appear-animation" data-appear-animation="fadeInRightShorter">
								<h1 class="font-weight-normal text-6 mb-3"><strong class="font-weight-extra-bold">{{ translation.who }}</strong> {{ translation.we-are }}</h1>
								<p class="lead">{{ translation.home-about-us-lead }}</p>
								<p class="pb-2 mb-4">{{ translation.home-about-us-more }}</p>
								<a href="{{ site.url }}{{ site.baseurl }}/about-us/" class="btn btn-secondary btn-lg font-weight-semibold btn-py-2 px-5"><i class="far fa-arrow-alt-circle-right mr-2"></i>{{ translation.about-us }}</a>
							</div>
							<div class="col-9 col-lg-6 order-1 order-lg-2 scale-6 pb-5 pb-lg-0 mt-0 mt-md-4 mb-5 mb-lg-0">
								<img class="img-fluid appear-animation" src="{{ site.url }}{{ site.baseurl }}/assets/site-img/ipad-pub-larger.png" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="300" data-plugin-options="{'accY': -400}" alt="">
							</div>
						</div>
					</div>
				</section>