<div class="col-md-6 col-lg-3">
	<div class="featured-box featured-box-primary featured-box-effect-4 appear-animation animated fadeInLeftShorter appear-animation-visible" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200" style="height: 151px; animation-delay: 200ms;">
		<div class="box-content px-4">
			<i class="{{ include.reason.icon }} {{ include.reason.color }} fa-5x"></i>
			<h4 class="font-weight-bold text-color-dark pb-1 mb-2">{{ include.reason.head }}</h4>
			<p class="mb-0">{{ include.reason.body | markdownify }}</p>
		</div>
	</div>
</div>