{% assign intro = include.intro %}
<div class="container py-5 my-4">
					<div class="row text-center py-3">
						<div class="col-md-10 mx-md-auto">
							<h1 class="word-rotator slide font-weight-bold text-8 mb-3 appear-animation" data-appear-animation="fadeInUpShorter">
								<span>{{ intro.head }}</span>
								<span class="word-rotator-words bg-tertiary">
								{% for word in intro.words %}
									{% if word == intro.words[0] %}
									    <b class="is-visible">{{ word }}</b>
									{% else %}
									    <b>{{ word }}</b>
									{% endif %}
								{% endfor %}
								</span>
								<span>.</span>
							</h1>
							<p class="lead appear-animation mb-3" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="300">
								{{ intro.subhead | markdownify | remove: '<p>' | remove: '</p>' }}
							</p>
							<p class="appear-animation mb-3" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="300">
								{{ intro.body | markdownify | remove: '<p>' | remove: '</p>' }}
							</p>
							<a href="{{ site.url }}{{ site.baseurl }}/book/" class="btn btn-tertiary btn-lg text-4 font-weight-semibold px-4 py-3" title="{{ intro.link-title }}"><i class="fas fa-book mr-2"></i> {{ intro.link-text }}</a>
						</div>
					</div>
				</div>
