{% assign highlights = include.highlights %}
<div class="owl-carousel owl-carousel-light owl-carousel-light-init-fadeIn owl-theme manual dots-inside dots-horizontal-center show-dots-hover dots-light nav-style-1 nav-inside nav-inside-plus nav-dark nav-lg nav-font-size-lg show-nav-hover mb-0" data-plugin-options="{'autoplayTimeout': 12000}" data-dynamic-height="['650px','650px','650px','550px','500px']" style="height: 650px;">
					<div class="owl-stage-outer">
						<div class="owl-stage">
						{% for the_highlight in highlights.entries %}
					  	    {% include home-highlight.html highlight=the_highlight %}
						{% endfor %}
						</div>
					</div>
					<div class="owl-dots mb-5">
					{% for the_highlight in highlights.entries %}
						<button role="button" class="owl-dot"><span></span></button>
					{% endfor %}
					</div>
				</div>