{% assign highlights = include.highlights %}
<div class="slider-container rev_slider_wrapper" style="height: 800px;">
	<div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider data-plugin-options="{'delay': 9000, 'gridwidth': 1170, 'gridheight': 800, 'responsiveLevels': [4096,1200,992,500], 'navigation' : {'arrows': { 'enable': true, 'style': 'arrows-style-2', 'left': {'h_align': 'center', 'v_align' : 'bottom', 'v_offset': 30, 'h_offset': 90}, 'right': {'h_align': 'center', 'v_align' : 'bottom', 'v_offset': 30, 'h_offset': 125}}, 'bullets': {'enable': false}}}">
		<ul>
			{% for the_highlight in highlights.entries %}
			  {% include home-highlight.html highlight=the_highlight %}
			{% endfor %}
		</ul>
	</div>
</div>