<div class="col-lg-4 mb-5">
	<div class="feature-box">
		<div class="feature-box-icon feature-box-icon-large bg-light mt-1">
			<i class="{{ include.reason.icon }} {{ include.reason.color }} fa-5x text-6"></i>
		</div>
		<div class="feature-box-info">
			<h2 class="text-color-light font-weight-bold text-4 line-height-5 mb-2">{{ include.reason.head }}</h2>
			<p class="text-color-light opacity-8 mb-0">{{ include.reason.body | markdownify | remove: '<p>' | remove: '</p>' }}</p>
		</div>
	</div>
</div>