<li class="slide-overlay slide-overlay-level-7" data-transition="fade">
								<img src="{{ include.highlight.img }}"  
									alt=""
									data-bgposition="center center" 
									data-bgfit="cover" 
									data-bgrepeat="no-repeat" 
									class="rev-slidebg">

								<div class="tp-caption overlay d-none d-sm-block overlay-show overlay-color-tertiary overlay-op-9"
									data-frames='[{"delay":1000,"speed":1000,"from":"opacity:0;x:0;","to":"o:1;x:0;","ease":"Power1.easeIn"},{"delay":"wait","speed":500,"to":"opacity:0;fb:0;","ease":"Power1.easeIn"}]'
									data-x="right"
									data-y="bottom"
									data-height="385"
									data-width="84%"
									data-basealign="slide"></div>
									
								<h1 class="tp-caption font-weight-extra-bold text-color-dark line ws-normal"
									data-frames='[{"delay":2000,"speed":900,"frame":"0","from":"opacity:0;x:50%;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
									data-x="['right','right','right','center']" data-hoffset="['173','173','173','0']"
									data-y="['bottom','bottom','bottom','middle']" data-voffset="['200','200','200','0']"
									data-width="['350','350','350','750']"
									data-fontsize="['39','39','39','75']"
									data-lineheight="['47','47','47','85']"
									data-textAlign="['left','left','left','center']">{{ include.highlight.head }}</h1>


								<div class="tp-caption font-weight-light text-color-dark opacity-7 ws-normal"
									data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":2300,"split":"chars","splitdelay":0.05,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
									data-x="['right','right','right','center']" data-x="right" data-hoffset="['18','18','18','0']"
									data-y="['bottom','bottom','bottom','middle']" data-voffset="['160','160','160','125']"
									data-width="['500','500','500','800']"
									data-fontsize="['15','15','15','35']"
									data-lineheight="['26','26','26','26']"
									data-textAlign="['left','left','left','center']">{{ include.highlight.subhead }}</div>

								<a class="tp-caption d-inline-flex align-items-center btn btn-light font-weight-semibold"
									href="{{ include.highlight.link }}"
									data-frames='[{"delay":3000,"speed":2000,"frame":"0","from":"y:-20%;opacity:0;","to":"y:0;o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
									data-x="['right','right','right','center']" data-hoffset="['320','320','320','0']"
									data-y="['bottom','bottom','bottom','middle']" data-voffset="['98','98','98','253']"
									data-paddingtop="['10','10','10','24']"
									data-paddingbottom="['10','10','10','24']"
									data-paddingleft="['40','40','40','40']"
									data-paddingright="['40','40','40','40']"
									data-fontsize="['11','11','11','25']"
									data-lineheight="['20','20','20','22']">{% icon fas fas-book %} {{ include.highlight.button }}</a>

							</li>