---
layout: default
---

    {% assign translation = site.data.translations | where: "language",site.active_lang | first %}
    {% assign time = content | reading_time %}
    <div role="main" class="main">
      <section class="page-header page-header-modern bg-color-primary page-header-md">
        <div class="container">
          <div class="row">
            <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
              <h1>{{ page.chapter }}: {{ page.title }}</h1>
            </div>
            
            <div class="col-md-4 order-1 order-md-2 align-self-center">
              <ul class="breadcrumb d-block text-md-right breadcrumb-light">
              {% for breadcrumb in page.breadcrumbs %}
                <li><a href="{{ site.url }}{{ site.baseurl }}{{ breadcrumb.permalink }}">{{ breadcrumb.title }}</a></li>
              {% endfor %}
                <li class="active"><a href="{{ site.url }}{{ site.baseurl }}/book/#section-{{ page.section }}">{{ translation.section }} {{ page.section }}</a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <div class="container chapter chapter-{{ page.sort-key }}">
        <div class="row">
          <div class="col-lg-3 order-2 order-lg-1 mt-4 mt-lg-0 chapter-toc">
            <aside class="sidebar">
              <h5 class="font-weight-bold no_toc">{{ translation.chapter-contents }}</h5>
    
            {{ content | toc_only }}
            
            </aside>
          </div>
          <div class="col-lg-9 order-1 order-lg-2 chapter-body">
            <p class="time-to-read"><i class="fas fa-circle-info pr-2"></i><em>{{ translation.chapter-will-take }} {{ time }} {{ translation.time-to-read }}</em></p>
            
            {%- if page.sort-key != 0 -%}
                {%- include authors-list.html contributors=site.data.contributors the_translation=translation authors=page.authors -%}
            {%- endif %}
                
            {{ content | inject_anchors }}
            
            <!--Last repository commit: {{ site.data["git-HEAD"] }}-->
            <p class="last-modified"><i class="fas fa-clock pr-2"></i><em>{{ translation.last-updated }}: {{ page.last_modified_at | date: '%Y-%m-%d %H:%M' }}</em></p>
          </div> <!-- /col -->
        </div> <!-- /row -->
      </div> <!-- /container -->
    </div> <!-- /main -->