          <div class="row">
            <div class="col-md-4">
              <img alt="Duncan Wilcox" class="img-responsive img-rounded" src="/pub/_img/duncanwilcox.png" srcset="/pub/_img/duncanwilcox@2x.png 2x">
            </div>

            <div class="col-md-8">

              <h2 class="shorter">Duncan T. <strong>Wilcox</strong> <small><abbr class="initialism" title="Medicinae Baccalaureus, Baccalaureus Chirurgiae">MBBS</abbr>, <abbr class="initialism" title="Medicinae Doctor">MD</abbr>, <abbr class="initialism" title="Fellowship of the Royal College of Surgeons">FRCS</abbr>, <abbr class="initialism" title="Intercollegiate Board in Paediatric Surgery">FRCS (Paed)</abbr>, <abbr class="initialism" title="Fellow of the European Academy of Paediatric Urology">FEAPU</abbr></small></h2>
              <h4>Chief Editor</h4>

              <span class="thumb-info-social-icons">
                <a rel="tooltip" data-placement="bottom" href="http://www.linkedin.com/pub/duncan-wilcox/61/818/b42" data-original-title="Linkedin"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
                <a rel="tooltip" data-placement="bottom" href="mailto:duncan.wilcox@childrenscolorado.org" data-original-title="Email"><i class="fa fa-envelope"></i><span>Email</span></a>
              </span>

              <p>As an academic Pediatric Urologist my career goal is to provide excellent clinical care to children with Pediatric Urologic problems now and to ensure continually improving care, through evidence based research, for the future. I am committed to continuing my own funded research interests in prenatal hydronephrosis and bladder outlet obstruction, but I see my main role now is to support and mentor junior faculty so enabling them to produce consistently high quality research to further our field. With many previous fellows and faculty colleagues involved in excellent academic work both here and in Europe, I believe my biggest contribution now to the field of Pediatric Urology is to continue to help develop academic faculty. It is only through these endeavors that we can improve care for children.</p>
              
              <address>
                <em>Professor</em><br>
                <em>Chair of Pediatric Urology</em><br>
                <em>The Ponzio Family Chair in Pediatric Urology</em><br>
                <strong>Children's Hospital Colorado</strong><br>
                University of Colorado, School of Medicine<br>
                Aurora, CO 80045<br>
                USA<br>
              </address>

            </div>
          </div>